@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

.signIn {
  background-color: #008BF8;
  border: 0;
  border-radius: 5px;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  width: 240px;
  margin-bottom: 20px;
}

.signUp {
  background-color: #2ecc71;
  border: 0;
  border-radius: 5px;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  width: 240px;
  margin-bottom: 20px;
}

.signInGH {
  background-color: #34495e;
  border: 0;
  border-radius: 5px;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  width: 240px;
  margin-bottom: 20px;
}

.signInGoog {
  background-color: #e74c3c;
  border: 0;
  border-radius: 5px;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  width: 240px;
}

.loginTitle {
    font-family: 'Roboto Slab', serif;
    color: #008BF8;
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
    margin: 0px;
}

.loginSubtitle {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.loginLogo img {
    padding-top: 10vh;
    width: 80px;
    margin: 0 auto;
    display: block;
}

.loginForm {
    margin: 20px;
}

.formItem {
    margin: 10px;
    text-align: center;
    margin: 0 auto;
}

.loginForm .formItem input {
    outline: none;
    margin-bottom: 20px;
    border: none;
    font-size: 150%;
    width: 320px;
    font-family: "Fauna One";
    color: #008BF8;
    font-weight: 400;
    border-bottom: solid #878787;
}

.loginForm .formItem input:focus {
    border-bottom: solid #008BF8;
}